<div class="attribution-container">
    <h4>{{item.name}}</h4>

    <div class="form-group">
        <div class="form-fields">
            <label>{{localize "DAGGERHEART.ITEMS.FIELDS.attribution.source.label"}}</label>
            <input type="text" name="source" value="{{data.source}}" class="attribution-input" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-fields">
            <label>{{localize "DAGGERHEART.ITEMS.FIELDS.attribution.page.label"}}</label>
            <input type="text" name="page" value="{{data.page}}" />
        </div>
    </div>
    <div class="form-group">
        <div class="form-fields">
            <label>{{localize "DAGGERHEART.ITEMS.FIELDS.attribution.artist.label"}}</label>
            <input type="text" name="artist" value="{{data.artist}}" />
        </div>
    </div>

    <footer>
        <button type="submit">{{localize "Save"}}</button>
    </footer>
</div>