<section class="creation-action-footer">
    <button data-action="close">{{localize "DAGGERHEART.APPLICATIONS.CharacterCreation.cancel"}}</button>
    {{#if isLastTab}}
        <button data-action="finish">{{localize "DAGGERHEART.APPLICATIONS.CharacterCreation.finishCreation"}}</button>
    {{else}}
        <button data-action="setupGoNext" {{disabled nextDisabled}}>{{localize "DAGGERHEART.APPLICATIONS.CharacterCreation.next"}}</button>
    {{/if}}
</section>
